@page "/editdata"

<h1>編輯資料</h1>

<EditForm Model="newPatient" OnValidSubmit="SaveData">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <table class="table">
        <tr>
            <td style="width: 15%;"><label for="CaseNumber">病歷號：</label></td>
            <td><InputText id="CaseNumber" @bind-Value="newPatient.CaseNumber" /></td>
        </tr>
        <tr>
            <td style="width: 15%;"><label for="Name">姓名：</label></td>
            <td><InputText id="Name" @bind-Value="newPatient.Name" /></td>
        </tr>
        <tr>
            <td style="width: 15%;"><label for="Gender">性別：</label></td>
            <td>
                <InputSelect id="Gender" @bind-Value="newPatient.Gender">
                    <option value="Male">生理男</option>
                    <option value="Female">生理女</option>
                    <option value="Other">其他</option>
                </InputSelect>
            </td>
        </tr>
        <tr>
            <td style="width: 15%;"><label for="BirthDate">出生日期：</label></td>
            <td><InputDate id="BirthDate" @bind-Value="newPatient.BirthDate" /></td>
        </tr>
        <tr>
            <td style="width: 15%;"><label for="Age">年齡：</label></td>
            <td>@CalculateAge()</td>
        </tr>
        <tr>
            <td style="width: 15%;"><label for="Id">身分證：</label></td>
            <td><InputText id="Id" @bind-Value="newPatient.Id" /></td>
        </tr>
        <tr>
            <td style="width: 15%;"><label for="Phone">手機號碼：</label></td>
            <td><InputText id="Phone" @bind-Value="newPatient.Phone" /></td>
        </tr>
        <tr>
            <td style="width: 15%;"><label for="Language">語言：</label></td>
            <td>
                <InputSelect id="Language" @bind-Value="newPatient.Language">
                    <option value="國語">國語</option>
                    <option value="台語">台語</option>
                    <option value="客語">客語</option>
                    <option value="英語">英語</option>
                    <option value="其他">其他</option>
                </InputSelect>
            </td>
        </tr>
        <tr>
            <td style="width: 15%;"><label for="Address">地址：</label></td>
            <td>
                <div class="dropdown">
                    <select name="county" id="county_box" @bind="newPatient.County">
                        <option value="">選擇縣市</option>
                        <option value="基隆市">基隆市</option>
                        <option value="臺北市">臺北市</option>
                        <option value="新北市">新北市</option>
                        <option value="宜蘭縣">宜蘭縣</option>
                        <option value="新竹市">新竹市</option>
                        <option value="新竹縣">新竹縣</option>
                        <option value="桃園市">桃園市</option>
                        <option value="苗栗縣">苗栗縣</option>
                        <option value="臺中市">臺中市</option>
                        <option value="彰化縣">彰化縣</option>
                        <option value="南投縣">南投縣</option>
                        <option value="嘉義市">嘉義市</option>
                        <option value="嘉義縣">嘉義縣</option>
                        <option value="雲林縣">雲林縣</option>
                        <option value="臺南市">臺南市</option>
                        <option value="高雄市">高雄市</option>
                        <option value="屏東縣">屏東縣</option>
                        <option value="臺東縣">臺東縣</option>
                        <option value="花蓮縣">花蓮縣</option>
                        <option value="金門縣">金門縣</option>
                        <option value="連江縣">連江縣</option>
                        <option value="澎湖縣">澎湖縣</option>
                    </select>

                    <select name="district" id="district_box" @bind="newPatient.District">
                        <option value="">選擇鄉鎮市區</option>
                        <option value="東區">東區</option>
                        <option value="北區">北區</option>
                        <option value="香山區">香山區</option>
                    </select>

                    <input type="text" id="Address" @bind="newPatient.Address" placeholder="詳細地址" />
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 15%;"><label for="MedicalHistory">病史：</label></td>
            <td><InputTextArea id="MedicalHistory" @bind-Value="newPatient.MedicalHistory" /></td>
        </tr>
        <tr>
            <td style="width: 15%;"><label for="EmergencyContact">緊急聯絡人：</label></td>
            <td><InputText id="EmergencyContact" @bind-Value="newPatient.EmergencyContact" /></td>
        </tr>
        <tr>
            <td style="width: 15%;"><label for="Relationship">關係：</label></td>
            <td><InputText id="Relationship" @bind-Value="newPatient.Relationship" /></td>
        </tr>
        <tr>
            <td style="width: 15%;"><label for="EmergencyPhone">緊急聯絡人電話：</label></td>
            <td><InputText id="EmergencyPhone" @bind-Value="newPatient.EmergencyPhone" /></td>
        </tr>
        <tr>
            <td style="width: 15%;"><label for="FamilyMember">家人：</label></td>
            <td><InputText id="FamilyMember" @bind-Value="newPatient.FamilyMember" /></td>
        </tr>
        <tr>
            <td style="width: 15%;"><label for="Remarks">備註：</label></td>
            <td><InputText id="Remarks" @bind-Value="newPatient.Remarks" /></td>
        </tr>
    </table>

    <table frame=void> 
        <tr>
            <td style="width: 15%;"><input type="checkbox" @onclick="Toggle">  結案</td>
            @if (showClosureReason)
                {
                  <td style="width: 17%;"><label for="ClosureDate">結案日期：</label>
                  <InputDate id="ClosureDate" @bind-Value="newPatient.ClosureDate" />
                  </td>
            <td><InputText @bind-Value="newPatient.Closure" placeholder="請輸入結案原因：" /></td>
                }
        </tr>
    </table>
    <br />
    <div style="text-align: center;">
        <button type="submit">儲存</button>
    </div>

    <br />
    <br />
    <br />


</EditForm>


@code {

    private Patient newPatient = new Patient
    {
        BirthDate = DateTime.Today,
        ClosureDate = DateTime.Today
    };
    @inject NavigationManager NavigationManager

    public class Patient
    {
        public string CaseNumber { get; set; }
        public string Name { get; set; }
        public string Gender { get; set; }
        public DateTime BirthDate { get; set; }
        public string Id { get; set; }
        public string Phone { get; set; }
        public string Language { get; set; }
        public string Address { get; set; }
        public string MedicalHistory { get; set; }
        public string EmergencyContact { get; set; }
        public string Relationship { get; set; }
        public string EmergencyPhone { get; set; }
        public string FamilyMember { get; set; }
        public string Remarks { get; set; }
        public string Closure { get; set; }
        public DateTime ClosureDate { get; set; } // 新增 ClosureDate 屬性
        public string County { get; set; }
        public string District { get; set; }
    }

    private string CalculateAge()
    {
        if (newPatient.BirthDate != DateTime.MinValue)
        {
            var today = DateTime.Today;
            var age = today.Year - newPatient.BirthDate.Year;
            if (newPatient.BirthDate > today.AddYears(-age)) age--;
            return age.ToString() + " 歲";
        }
        return "";
    }

    private void SaveData()
    {
        NavigationManager.NavigateTo("/list");
    }

    private bool showClosureReason = false;
    private string closureReason = "";

    private void Toggle()
    {
        showClosureReason = !showClosureReason;
    }
}
